.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .common-to-card {
        background-color: aliceblue;
        margin: 10px 10px;
        width: 15vw;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
    }

    .infected {
        border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    }

    .recovered {
        border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    }

    .deaths {
        border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    }
}
