.header {
    font-family: "Bigelow Rules";
    font-weight: bold;
    font-size: 8vh;
    margin-bottom: 10px;
    color: rgba(118, 77, 170, 0.5);

    .covid-image{
        width: 60x;
        height: 60px;
    }
}